@model Persona
<h1>
    Información controlador-vista
</h1>

<h2 style="color:blue">
    @Model.Nombre, @Model.Apellidos, @Model.Edad
</h2>

<h2 style="color:red">
    Su nombre es @ViewData["NOMBRE"] y su edad es @ViewData["EDAD"]
</h2>